<section class="main">

    <a href="@Url.Action("ZgloszeniePracy","Home")">
        <div class="rejestracja">

            <img src="~/Content/same_dzialki.jpg" />
            <img src="~/Content/dzialki_bud.jpg" />
            <img src="~/Content/dzialki_wszystko.jpg" />
            <span>ZGŁASZANIE PRAC</span>
        </div>
    </a>


    <a href="@Url.Action("Przeglad", "Home")">
        <div class="przeglad">

            <span>PRZĘGLĄDANIE PRAC</span>
            <div>
                <i id="book1" class="fas fa-book"></i>
                <i id="book2" class="fas fa-book-open"></i>
            </div>

        </div>
    </a>
    <a href="@Url.Action("Contact","Home")">
        <div class="kontakt">
            <span>POMOC/OPIS DZIAŁANIA</span>
            <div class="circle"> <i class="fas fa-phone-alt"></i></div>
            </div>
    </a>
    
</section>